@import "./index";

.header {
  padding: 20px 5%;
  background-color: $color-primary;
  color: $color-white;
  font-weight: bold;

  a{
    color: $color-white;
  }
}

.footer {
  padding: 40px 5%;
  background-color: $color-secondary;
  color: $color-content;
  font-weight: bold;
}

.page-main {
  padding: 40px 18%;
}

.loader-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;

  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid $color-primary;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
}


@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}